<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1> Bienvenido, {{nombre}}</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et facere qui ipsa earum minima. A ea unde soluta. Dolor nesciunt, nobis repellat nostrum alias laudantium iste culpa autem. Dicta, beatae!</p>
</hr>

<h2>Informacion personal</h2>
<ul>
    <li>nombre: {{nombre}}</li>
    <li>apellido: {{apellido}}</li>
    <li>correo:</li>

    
</ul>
    
</body>
</html>