<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Sitio Web{% endblock %}</title>

</head>
<body>
    <header>
        <nav>
            <!-- Barra de navegación común -->
            <a href="/">Inicio</a>
            <a href="/usuario">Acerca de</a>
            <a href="/contacto">Contacto</a>
        </nav>
    </header>
    
    <main>
        {% block content %}{% endblock %}
    </main>
    
    <footer>
        <p>&copy; 2024 Mi Sitio Web</p>
    </footer>
</body>
</html>
